$color-white: rgb(255, 255, 255);
$color-black: rgb(47, 24, 32);
$color-gray: rgb(238, 238, 238);
$color-gray-dark: rgb(214, 214, 214);
$color-blue-dark: rgb(3, 37, 65);
$color-blue: rgb(11, 181, 225);
