@import "./styles/mixins";

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 100%;
  padding: 20px;

  @include for-phone-only {
    padding: 10px;
  }
}
